@{
    Layout = "_AboutLayout";
    ViewData["Title"] = "About";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <a class="btn btn-light btn-block" asp-action="Locations">Notable locations around the park</a>
        </div>
        <div class="col">
            <a class="btn btn-light btn-block" asp-action="People">Disneyland hall of fame</a>
        </div>
    </div>
</div>
