@{
    ViewData["Title"] = "Home"; 
}

<div class="jumbotron text-center">
    <h1>The cast of Disneyland</h1>
    <h5>A site for theme park employees</h5>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-3">
        <div class="card container">
            <div class="card-header text-center font-weight-bold">Character of the Day</div>
            <div class="card-body text-center"><h1>@ViewBag.CharOfDay</h1></div>
        </div>
    </div>
    <div class="col-8"></div>
</div>