@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Locations</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link text-light" asp-action="About"><<< Back</a></li>
        </ul>
    </nav>
    <p>
        TODO: Add info on interesting locations around Disneyland
    </p>
</body>
</html>
