@model List<Location>

@{
    Layout = "_AboutLayout";
    ViewBag.AboutLink = "About";
    ViewBag.Back = "<<< Back";
    ViewData["Title"] = "Locations";
}

<h1 class="container text-center">Here's some notable locations around the park.</h1>
<table class="container">
    <tr>
        <th class="text-center">Name</th>
        <th class="text-center">About</th>
        <th class="text-center">Link to more Info</th>
    </tr>
    @foreach (Location l in Model)
    {
        <tr>
            <td>@l.Name</td>
            <td>@l.Info</td>
            <td><a class="btn btn-sm btn-primary" href="@l.Link">More</a></td>
        </tr>
    }
</table>
