@model List<Person>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>People</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link text-light" asp-action="About"><<< Back</a></li>
        </ul>
    </nav>
    <h1 class="container text-center">Here's some notable people related to the park.</h1>
    <table class="container">
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">About</th>
            <th class="text-center">Link to more Info</th>
        </tr>
        @foreach (Person p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Bio</td>
                <td><a class="btn btn-sm btn-primary" href="@p.Link">More</a></td>
            </tr>
        }
    </table>
</body>
</html>
