@model List<Person>

@{
    Layout = "_AboutLayout";
    ViewBag.AboutLink = "About";
    ViewBag.Back = "<<< Back";
    ViewData["Title"] = "People";
}

<h1 class="container text-center">Here's some notable people related to the park.</h1>
<table class="container">
    <tr>
        <th class="text-center">Name</th>
        <th class="text-center">About</th>
        <th class="text-center">Link to more Info</th>
    </tr>
    @foreach (Person p in Model)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.Bio</td>
            <td><a class="btn btn-sm btn-primary" href="@p.Link">More</a></td>
        </tr>
    }
</table>
